api-gateway/dist
api-gateway/node_modules
api-gateway/.env
api-gateway/.git

micro-admin-backend/dist
micro-admin-backend/node_modules
micro-admin-backend/.env
micro-admin-backend/.git

micro-notificacoes/dist
micro-notificacoes/node_modules
micro-notificacoes/.env
micro-notificacoes/.git

micro-rankings/dist
micro-rankings/node_modules
micro-rankings/.env
micro-rankings/.git